appdirs==1.4.4
beautifulsoup4==4.14.3
certifi==2026.1.4
colorama==0.4.6
importlib-metadata==8.7.1
pyee==11.1.1
pyppeteer==2.0.0
soupsieve==2.8.1
tqdm==4.67.1
typing-extensions==4.15.0
urllib3==1.26.20
websockets==10.4
zipp==3.23.0